/* nejsme vcerejsi, pouzivame moderni box model */
html {
  box-sizing: border-box;
}
*,
:after,
:before {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  font-size: 14px;
}

/* ----------------------------- */
/* MOBILE first: Media query for mobile 0 to 540 px */
/* ----------------------------- */
.heading__team {
  text-align: center;
}
/* Image styles */
.image img {
  border-radius: 50%;
  max-width: 250px;
  min-width: 70px;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Main box-container */
.team {
  width: 100%;
}

/* Boxes with members */
.member {
  border: 1px solid lightgrey;
  border-radius: 10px;
  box-shadow: 0px 2px 0px lightblue;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
}

/* It's not really needed. Differences can be seen at very low width sizes. */
.member .description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Excluding default margin of paragraphs */
p {
  margin: 0;
}

/* ----------------------------- */
/* Media query for tablet 540 to 960 px */
/* ----------------------------- */
@media screen and (min-width: 541px) and (max-width: 960px) {
  .team {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .member {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-start;
    flex-basis: 34%;
    align-items: stretch;
    margin: 10px;
  }

  /* Image styles */
  .image {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .image img {
    border-radius: 50%;
    max-width: 70px;
    margin: 0 10px 0 0;
  }

  /* Text style in the description */
  .member .description {
    display: flex;
    justify-content: flex-start;
    text-align: left;
  }

  .description h2 {
    width: 100%;
  }
}

/* ----------------------------- */
/* Media query for PC 960px and more */
/* ----------------------------- */
@media screen and (min-width: 961px) {
  .team {
    display: flex;
  }
}

/* ----------------------------- */
/* Media query for print */
/* ----------------------------- */
@media print {
  * {
    background: none !important;
    color: black !important;
  }
}
